<link rel="stylesheet" href="../assets/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="../assets/vendors/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="../assets/vendors/jvectormap/jquery-jvectormap.css">

<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <form (submit)="search($event)">
    <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a href="/" alt="home"><i class="fa fa-home fa-3x"></i></a>
      <span class="mdc-top-app-bar__title">Bem vindo!</span>
      <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon search-text-field d-none d-md-flex">
          <input class="mdc-text-field__input" id="text-field-hero-input" placeholder="Pesquisar" required>
          <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn-pesquisar"><i class="fa fa-search fa-3x"></i></button>
  </form>
    <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right" style="margin-right: 2%;">
      <div class="menu-button-container menu-profile d-none d-md-block">
        <button class="mdc-button mdc-menu-button">
          <span class="d-flex align-items-center">
            <span class="figure">
              <img [src]="UserData.photoURL" alt="user" class="user">
            </span>
            <span class="user-name">{{ UserData.displayName }}</span>
          </span>
        </button>
      </div>
      <div class="menu-button-container menu-profile d-none d-md-block">
        <button class="mdc-button mdc-button--raised mdc--theme-primary" (click)="GoogleLogout()">
          <i class="fa fa-sign-out fa-2x"></i> LogOut
        </button>
      </div>
    </div>
  </div>
</header>