.logo{
    width: 50%;
}

.avatar{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logout-button{
    margin-top: 15%;
    background-color: brown;
}

.header-root{
    background-color: rgba(0, 255, 255, 0.13);
    height: 70pt;
    /* margin-top: -10px !important;
    margin-left: -8px !important;
    width: 110% !important; */
}

.btn-pesquisar{
    margin-left: 10px;
    border-radius: 30%;
}