<div class="mdc-components">
    <div class="mdc-component mdc-component__cards">
        <div class="mdc-component__containers__primary">
            <div class="mdc-card">
                <section class="mdc-card__media">
                    <img [src]=volume.bookPhotoUrl alt="Logo Livro">
                </section>
                <section class="mdc-card__supporting-text">{{volume.bookDescription}}</section>
            </div>
        </div>
    </div>
</div>

  