<div class="flexbox-parent">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-5"></div>
            <div class="mdc-layout-grid__cell" >
                <img src="../../assets/images/logoLyncas.png" class="logoLyncas" alt="LogoLyncas">
            </div>
        </div>
    </div>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell"></div>
            <div class="mdc-layout-grid__cell">
                <div class="login-card">
                    <app-login-card></app-login-card>
                </div>
            </div>
        </div>
    </div>
</div>