<div *ngIf="auth.user$ | async as user; else login">
    <div class="mdc-card">
        <div class="header">
            <app-header></app-header>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
<ng-template #login>
    <app-login></app-login>
</ng-template>
