.mdc-card{
    background-color: rgba(201, 201, 201, 0.096) !important;
}

.mdc-layout-grid{
    margin-top: 10px;
}

.mdc-card__actions {
    display: inline-flex;
    justify-content: center;
    padding: 0 16px 16px 16px;
}

.mdc-button{
    display: block;
    background-color: rgba(255, 0, 0, 0.616);
}