<div class="page-wrapper mdc-toolbar-fixed-adjust">
    <main class="content-wrapper">
      <div style="margin: 12px 12px;">
        <h2>Livros favoritos</h2>
      </div>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet" *ngFor="let volume of lista">
            <div class="mdc-card info-card info-card--success">
              <div class="card-inner">
                <div>
                  <h3>{{volume.bookName}}</h3>
                </div>
                <div>
                  <app-item-lista  [volume]="volume"></app-item-lista>
                </div>
                <section class="mdc-card__actions">
                  <a [href]="volume.bookUrl"><i class="fa fa-book fa-3x"></i></a>
                  &nbsp;
                  <button type="button" class="mdc-button mdc-button--raised mdc--theme-primary" (click)="openModal(volume)">Remover favorito</button>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
</div>

