<div class="mdc-card">
    <div class="header">
        <h3>Para começar a utilizar nossas funcionalidades, primeiro faça login, por favor</h3>
    </div>
    <div class="body">
        <button (click)="googleLogin()" class="mdc-button mdc-button--raised googleLogin"><span class="mdc-button__ripple"></span> Login com Google</button>
    </div>
</div>