.search-root{
    background-color: rgba(32, 255, 255, 0.041);
    display: block;
}

.mdc-card{
    background-color: rgba(201, 201, 201, 0.096) !important;
}

.mdc-layout-grid{
    margin-top: 10px;
}

.mdc-card__actions {
    display: flex;
    justify-content: center;
    padding: 0 16px 16px 16px;
}

.mdc-button{
    background-color: rgba(255, 238, 0, 0.616);
    color: black;
}

.mdc-card__supporting-text{
    overflow: auto;
}