<div class="search-root">
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
          <div style="margin: 12px 12px;">
            <h2>Resultados da pesquisa</h2>
          </div>
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet" *ngFor="let volume of lista">
                <div class="mdc-card info-card info-card--success">
                  <div class="card-inner">
                    <div>
                      <h4>{{volume.title}}</h4>
                    </div>
                    <div>
                    <div class="mdc-components">
                        <div class="mdc-component mdc-component__cards">
                            <div class="mdc-component__containers__primary">
                                <div class="mdc-card">
                                    <section class="mdc-card__media">
                                        <img [src]="volume.thumbnail" alt="Logo Livro">
                                    </section>
                                    <section class="mdc-card__supporting-text">{{ volume.subtitle }} - {{ volume.pageCount }} página(s)</section>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <section class="mdc-card__actions">
                      <a [href]="volume.selfLink"><i class="fa fa-book"></i></a>
                      &nbsp;
                      <button type="button" class="mdc-button mdc-button--raised mdc--theme-primary" (click)="novoFavorito(volume)"><i class="fa fa-star"></i> Favoritar</button>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
    </div>    
</div>
